.head {
    background: darkcyan;
    width: 100%;
    color: white;
    height: 50px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 20px;
    font-family: sans-serif;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    align-items: flex-end;
}

.title {
   text-align: start;


}