.main {
    margin: auto;
    padding-top: 100px;
    width: 70%;

}
.content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}
@media screen and (max-width:1500px) {
    .content{
        flex-direction: column;
    }
    
}