.header {
    background-color: mediumpurple;
    color: white;
    height: 100px;

}

.header ul {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
}

.header ul li {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    text-underline-offset: none;


}

.header a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
}