@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family:  sans-serif;
  font-style: italic;
}

body {
  margin: 0;
  background-color: #333

}

main {
  height: 800px;

}